.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 7.5%;
  /* height: 100; */
  padding-bottom: 7.5%;
    background-color: #fafafa;
  }

.login-form-container {
    display: flex;
    /* flex: 1; */
    flex-direction: column;
    gap:20px;
    padding: 40px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    width: 350px;
    background-color: #fff;
}

.login-to-signup {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap:20px;
  padding: 40px;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  width: 350px;
  background-color: #fff;
}

.login-input {
    width: 100%;
    }
  
  .form-control {
    width: 100%;
    margin-bottom: 16px;
  }
  
  .link {
    margin-left: auto;
  }