.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Nav Bar */

nav {
  position: fixed;
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 9999;
  backdrop-filter: blur(50px);
}

nav>img {
  height: 40%;
  margin-left: 50px;
}

nav>div {
  display: flex;
  gap: 30px;
  margin-right: 50px;
  align-items: center;
  justify-content: space-between;
}

nav>div>a {
  text-decoration: none;
}

/* Homepage */

.homepage {
  margin-top: 120px;
}

/* PostCardFooter */

.postCardFooter {
  padding: 12px;
  /* font-size: 18px; */
}

.postTitle {
  font-size: 14px;
  font-weight: 700;
  text-align: justify;
  display: inline-block;
  width: 100%;
}

.authorWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.authorWrapper .userWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.authorWrapper .userWrapper .avatarWrapper {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 5px;
}

.authorWrapper .userWrapper .avatarWrapper>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.authorWrapper .userWrapper .userName {
  font-size: 16px;
}

.authorWrapper .reactionWrapper {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;
}

.authorWrapper .reactionWrapper .likesWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.authorWrapper .reactionWrapper .dislikesWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.authorWrapper .reactionWrapper .dislikesWrapper .dislikesIcon {
  vertical-align: center;
}

.authorWrapper .reactionWrapper .dislikesWrapper .dislikesCount {
  vertical-align: center;
  font-size: 16px;
}
